 <nav
    class="top-navbar"
  >
    <div class="px-3 py-3 lg:px-5 lg:pl-3">
      <div class="flex items-center justify-between">
        <div class="flex items-center justify-start rtl:justify-end">
          <button
            (click)="toggleSidebar.emit()"
            type="button"
            class="mobile-menu-btn"
          >
            <span class="sr-only">Open sidebar</span>
            <mat-icon>menu</mat-icon>
          </button>
          <a routerLink="/" class="flex ms-2 md:ms-4">
            <span
              class="self-center text-xl font-semibold sm:text-2xl whitespace-nowrap dark:text-white"
              >Sistema Venta</span
            >
          </a>
        </div>

        <div class="flex items-center">
          <button
            mat-icon-button
            (click)="toggleTheme.emit()"
            class="text-gray-500 dark:text-gray-400"
          >
           <mat-icon>{{ isDark() ? 'light_mode' : 'dark_mode' }}</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </nav>