<aside
  id="logo-sidebar"
  class="fixed top-0 left-0 z-40 w-64 h-screen pt-20 transition-transform bg-white border-r border-gray-200 sm:translate-x-0 dark:bg-gray-800 dark:border-gray-700"
  [class.-translate-x-full]="!isSidebarActive()"
  aria-label="Sidebar"
>
  <div class="h-full px-3 pb-4 overflow-y-auto bg-white dark:bg-gray-800">
    <ul class="space-y-2 font-medium">
      @for (item of menuItems(); track item.link) {
      <li>
        <a
          [routerLink]="item.link"
          routerLinkActive="bg-gray-100 dark:bg-gray-700 text-primary-600 dark:text-primary-400"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group transition-colors duration-200"
        >
          <mat-icon
            class="w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white group-[.active]:text-inherit"
          >
            {{ item.icon }}
          </mat-icon>

          <span class="ms-3">{{ item.label }}</span>
        </a>
      </li>
      }
    </ul>
  </div>
</aside>

<main
  class="relative md:ml-64 min-h-screen transition-colors duration-300 bg-gray-50 dark:bg-gray-900"
>
  <nav
    class="fixed top-0 z-50 w-full bg-white border-b border-gray-200 dark:bg-gray-800 dark:border-gray-700"
  >
    <div class="px-3 py-3 lg:px-5 lg:pl-3">
      <div class="flex items-center justify-between">
        <div class="flex items-center justify-start rtl:justify-end">
          <button
            (click)="toggleSidebar()"
            type="button"
            class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
          >
            <span class="sr-only">Open sidebar</span>
            <mat-icon>menu</mat-icon>
          </button>
          <a routerLink="/" class="flex ms-2 md:ms-4">
            <span
              class="self-center text-xl font-semibold sm:text-2xl whitespace-nowrap dark:text-white"
              >Sistema Venta</span
            >
          </a>
        </div>

        <div class="flex items-center">
          <button
            mat-icon-button
            (click)="toggleTheme()"
            class="text-gray-500 dark:text-gray-400"
          >
            @if (isDark()) {
            <mat-icon>light_mode</mat-icon>
            } @else {
            <mat-icon>dark_mode</mat-icon>
            }
          </button>
        </div>
      </div>
    </div>
  </nav>

  <div class="p-4 mt-14">
    <router-outlet />
  </div>
</main>
