<aside
  id="logo-sidebar"
  class="sidebar-container"
  [class.w-20]="isCollapsed()"
  [class.w-64]="!isCollapsed()"
  [class.-translate-x-full]="!isSidebarActive()"
  aria-label="Sidebar"
>
  <button
    (click)="toggleCollapse()"
    class="btn-collapse"
  >
    <mat-icon 
      class="text-gray-500 dark:text-gray-400 transition-transform duration-300 w-[18px] h-[18px] flex items-center justify-center text-[18px]" 
      [class.rotate-180]="isCollapsed()"
    >
      keyboard_double_arrow_left
    </mat-icon>
  </button>

  <div class="h-full px-3 pb-4 overflow-y-auto overflow-x-hidden bg-white dark:bg-gray-800">
    <ul class="space-y-2 font-medium">
      @for (item of menuItems(); track item.link) {
      <li>
        <a
          [routerLink]="item.link"
          routerLinkActive="menu-item-active"
          class="menu-item group"
          [class.justify-center]="isCollapsed()"
          [title]="isCollapsed() ? item.label : ''" 
        >
          <mat-icon
            class="w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white group-[.active]:text-inherit shrink-0"
          >
            {{ item.icon }}
          </mat-icon>

          <span 
            class="ms-3 whitespace-nowrap transition-all duration-300"
            [class.opacity-0]="isCollapsed()"
            [class.w-0]="isCollapsed()"
            [class.hidden]="isCollapsed()"
            [class.opacity-100]="!isCollapsed()"
            [class.w-auto]="!isCollapsed()"
            [class.block]="!isCollapsed()"
          >
            {{ item.label }}
          </span>
        </a>
      </li>
      }
    </ul>
  </div>
</aside>

<main
  class="relative min-h-screen transition-all duration-300 bg-gray-50 dark:bg-gray-900"
  [class.md:ml-20]="isCollapsed()"
  [class.md:ml-64]="!isCollapsed()"
>
<app-topbar (onToggleTheme)="toggleTheme()" (onToggleSidebar)="toggleSidebar" />

  <div class="p-4 mt-14">
    <router-outlet />
  </div>
</main>