<table class="w-full text-sm text-left rtl:text-right">
  <thead class="text-xs text-gray-700 uppercase bg-gray-50">
    <tr>
      @for (item of columnas; track $index) {
      <th scope="col" class="px-6 py-3">{{ item }}</th>
      }
      <th scope="col" class="px-6 py-3">Accion</th>
    </tr>
  </thead>
  <tbody>
    @defer(when data() ) { @for (item of data(); track $index) {
    <tr class="bg-white border-b">
      @for (colu of columnas; track $index) {
      <td class="px-6 py-4">{{ item[colu] }}</td>
      }
      <td class="px-6 py-4">
        @if (TipoEntidad() === 'EditarUsuario' ||TipoEntidad() ==
        'EditarProducto' ) {
        <button
          type="button"
          (click)="
            onAction(
              TipoEntidad() === 'EditarUsuario'
                ? 'Editar Usuario'
                : 'Editar Producto',
              item
            )
          "
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
        >
          Editar
        </button>
        <a
          class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 focus:outline-none dark:focus:ring-red-800"
          (click)="
            eliminar(
              TipoEntidad() === 'EditarUsuario'
                ? 'Eliminar usuario'
                : 'Eliminar producto',
              item
            )
          "
          >Eliminar</a
        >
        }
      </td>
    </tr>
    @if(modalSwitch()==true){ @if(showUserModalSwitch()){
    <app-modal-usuario
      [tituloAccion]="editar()"
      [datas]="idData()"
      (close)="closeModal()"
    />
    } @if(showProductModalSwitch()){
    <app-modal-producto
      [tituloAccion]="editarT()"
      [datas]="idDataPro()"
      (close)="closeModal()"
    />
    }} }@empty {
    <td rowSpan="4" colspan="4">No hay Contenido</td>
    } }@placeholder {
    <h1>sin contenido</h1>
    } @loading (after 100ms;minimum 1s) {
    <h1>Cargando......</h1>
    }@error {
    <h1>Sin contenido</h1>
    }
  </tbody>
</table>
