<section class="flex justify-center content-center items-center h-dvh">
  <div
    class="w-full h-3/4 items-center max-w-sm rounded-lg shadow shadow-bluePastel sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700"
  >
    <form
      class="space-y-6"
      [formGroup]="formularioLogin"
      (ngSubmit)="iniciarSesion()"
    >
      <h5 class="text-4xl text-center font-extrabold">Login</h5>
      <div>
        <label
          for="email"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Email</label
        >
        <input
          type="email"
          name="email"
          id="email"
          formControlName="email"
          class=""
          placeholder="name@company.com"
          required
        />
      </div>
      <div>
        <label
          for="password"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Contraseña</label
        >
        <input
          [type]="ocultarPassword ? 'password' : 'text'"
          name="password"
          formControlName="password"
          id="password"
          placeholder="••••••••"
          class=""
          required
        />
      </div>
      <div class="flex items-start">
        <div class="flex items-start">
          <div class="flex items-center h-5">
            <input
              id="remember"
              type="checkbox"
              value=""
              class="w-4 h-4 border rounded bg focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800"
              required
            />
          </div>
          <label
            for="remember"
            class="ms-2 text-sm font-medium text-bluePastel text-gray-900 dark:text-gray-300"
            >Remember me</label
          >
        </div>
        <a
          class="ms-auto text-sm font-medium text-bluePastel hover:underline dark:text-blue-500"
          >Lost Password?</a
        >
      </div>
      <div class="flex w-full justify-center">
        <button
          [disabled]="formularioLogin.invalid"
          type="submit"
          class="text-center w-full px-5 py-4 font-bold leading-none transition duration-300 rounded-2xl"
          [ngClass]="{
            ' cursor-not-allowed': formularioLogin.invalid,
            'bg-bluePastel  hover:bg-black': !formularioLogin.invalid
          }"
        >
          Ingresar
        </button>
      </div>
      @if(mostrarLoading){
      <div
        class="px-3 py-1 text-xs font-medium leading-none text-center text-blue-800 bg-blue-200 rounded-full animate-pulse dark:bg-blue-900 dark:text-blue-200"
      >
        loading...
      </div>
      }

      <div class="text-sm font-medium text-blueS dark:text-gray-300">
        Not registered?
        <a href="#" class="text-blue-700 hover:underline dark:text-blue-500"
          >Create account</a
        >
      </div>
    </form>
  </div>
</section>
<app-notificacion class="flex mt-2 justify-center" />
