:host {
  display: block;
}

/* Ajuste fino para el icono dentro del form-field si es necesario */
.mat-icon {
  vertical-align: middle;
}

/* Opcional: Si deseas que el input tenga un ancho específico 
  solo en pantallas grandes
*/
@media (min-width: 768px) {
  .search-field {
    min-width: 300px;
  }
}